[2015-01-06 10:35] robertodr opened #2 "Submit modeling file to Coverity scan"
Coverity scan requires a modeling file to be submitted in order to eliminate false positives more effectively. The documentation on how to write such a file is [here](https://scan.coverity.com/tune)

[2015-07-23 15:00] miroi opened #4 "Compilation on IBM does not work"
Using fresh PCMSolver with  the setup command:

[code]

we have

[code]

and the compilation error is:

[code]

[2015-07-25 09:44] robertodr commented on #4
Hi @miroi,
I fear the IBM compilers do not have a complete implementation of the C++ standard when coming to templates. Also, the offending lines of code are rather central to the inner workings of the module and a workaround is not something I might want to spend time on. Could you try passing the --disable_cxx11 to the setup script and see if the situation changes?
  Best,
    Roberto

[2015-07-25 10:06] miroi commented on #4
Here we go:

[code]

and the compilation fails again (maybe trying g++ instead of xlC could help ?) :

[code]

[2015-07-25 10:25] miroi commented on #4
Well,  the g++ does not work either...So no help for PCMSolver on IBM ? Some extra installation of missing C++ constructs would not help ?

[code]

[2015-07-25 10:27] robertodr commented on #4
@miroi what is the version of the GNU compilers?

[2015-07-25 10:34] miroi commented on #4
g++ (GCC) 4.6.1

[2015-07-25 11:05] robertodr commented on #4
@miroi I've never encountered this problem before. I tried to compile with GNU 4.6.2 on our cluster, but the installation seems to be faulty and couldn't reproduce your error. What happens if you use GNU for Fortran, C and C++?

[2015-07-25 11:24] miroi commented on #4
Hi,

[code]

gives errors again:

[code]

[2015-07-25 11:35] miroi commented on #4
The same errors with "./setup --fc=gfortran --cc=gcc --cxx=g++ --type=debug --disable_cxx11 build_gnu_nocxx11_dbg".

What to do on IBM AIX ?

[2015-07-25 12:10] miroi commented on #4
Well, to fix this issue, I would need the simplest C++ test case where it's failing on the "error: template with C linkage". Then I would try to do something on our IBM AIX.

[2015-07-27 06:59] robertodr commented on #4
@miroi could you see what happens with this trivial example? With both g++ and xlC. Also, could you post the full output of the compilation of the module run on one process?

    #include <cstdlib>
    #include <cmath>
    #include <iostream>

    template <typename T>
    T sum(T rhs, T lhs)
    {
        return (rhs + lhs);
    }

    int main()
    {
        double a = 2.0;
        double b = -

[2015-07-27 08:01] miroi commented on #4
Hi, strange, it works with both compilers:
[code]
I check the pcmsolver compiling once again and see.

[2015-07-27 08:20] miroi commented on #4
[code]

[2015-07-27 08:29] robertodr commented on #4
Line 107 in `ForIdGreen.hpp` is the offending line:

      return (f.template operator()<typename mpl::deref<B>::type>(_data));

`for_id` is a metafunction whose implementation I adapted from [here](http://arxiv.org/abs/1306.5142) In their paper the authors test on IBM with compiler version 11.1 and find the same error. They ascribe it to noncompliance of the compiler with the C++ standard. I thin

[2015-07-27 09:18] miroi commented on #4
If it is so, could you please post here simple example of the **for_id** metafunction ?

Well, I am noticing C++ conflicts due to different installations on IBM AIX, native XL vs GNU-like installation.

But I need the /opt/freeware/bin as contains usefull programs....Any help how to solve these conflicts ?

[code]

[2015-07-27 09:55] robertodr commented on #4
@miroi I will create a repository only containing `for_id` and a small `main` using it later today. As for the conflicts between g++ and the IBM compilers. If it really is because of a conflict between standard headers, there is not much I can do on my side. The system maintainer surely knows more about the details of the GNU compiler collection installation.

[2015-07-27 12:26] miroi commented on #4
Fine; in between (with coordination of IBM Aurel admin) I'm playing with headers conflicts. Here I take the other IBM freeware's installation:

[code]
And errors are
[code]

[2015-07-27 15:18] miroi commented on #4
Hi Roberto,
concerning these IBM g++ conflicts, like abs(float __x) vs abs(double __x) (see above-full log, and below - excerpt), isn't there a C++ flag available which would fix this issue ? Seems IBM does not like too generic function prescriptions.

Also, wouldn't you please provide simplest test example on this conflictins issue ? The GNU-for-IBM installation is correct at this machine.

[code

[2015-07-27 16:27] robertodr commented on #4
@miroi an example for the call to std::abs for both float and double:

     #include <cstdlib>
     #include <cmath>
     #include <iostream>

     // This assumes that type U can be casted to type U
     // normally not a brilliant idea...
     template <typename T, typename U>
     T sum(T rhs, U lhs)
     {
          return (rhs + lhs);
     }

     int main()
     {
           float a = 2.0;

[2015-07-27 16:40] miroi commented on #4
Well, this simple test example works fine. The bug we are hunting is elsewhere.

[code]

[2015-07-27 16:52] miroi commented on #4
How about to look here,  starting from ....4.8.1/include/c++/complex:44:0 ?

[code]

[2015-07-28 13:44] robertodr commented on #4
Hi @miroi,
concerning the cmath bug, is C++11 turned off? It's extremely weird that the standard library causes problem when compiling the project standalone. Concerning your request for an isolated example of `for_id` I created this repository that you can play around with: https://github.com/robertodr/for_id
There are two executables: example_1D.x and example.x You can deactivate compilation of

[2015-07-28 15:29] miroi commented on #4
Hi,

without  C++11 there are other errors:
[code]

[2015-10-22 08:17] miroi opened #7 "PCMSolver's support for MS Windows - appveyor CI"
Hi Roberto,

would you agree with setting the appveyor.yml CI buildup script for MS Windows ? I would do that first on my branch.

[2015-10-22 08:25] miroi opened #8 "fresh buildup error ..."
Hi Roberto,

what could be wrong with fresh PCMSolver on that Linux cluster ?

[code]

[2015-10-22 08:31] robertodr commented on #7
Yes, please go ahead :wink: I signed up for Appveyor, but have had no time to set the YAML file properly.

[2015-10-22 08:34] robertodr commented on #8
This is something I will remove once the deployment to readthedocs works properly. I don't have a CMake flag in place to disable this, so you have to insert `set(BUILD_CHARTS OFF)` in https://github.com/PCMSolver/pcmsolver/blob/master/cmake/custom/documentation.cmake#L33
or something similar. Apologies.

[2015-10-22 08:35] miroi opened #9 "Directory for buildup scripts ?"
Hi Roberto,

I see you are running CDash tests, https://testboard.org/cdash/index.php?project=PCMSolver&date=2015-10-21 .

I would welcome a dedicated directory for CDash buildup scripts, so that I can run also "my" buildup scripts (MS Windows, IBM, Linux with PGI etc) from there.

[2015-10-22 08:42] robertodr commented on #9
Access granted on this repository: https://gitlab.com/PCMSolver/pcmsolvermeta
I keep my recipes there. Please make a directory with the machine name (and/or any meaningful identifier)

[2015-10-22 09:14] robertodr commented on #9
Closing.

[2015-10-22 09:14] #9 closed

[2015-10-22 09:18] miroi commented on #8
Hi,

on that cluster setup works, but compilation fails here:
[code]

[2015-10-22 10:00] miroi opened #10 "Platform independent commands in buildup/linking"
Hi,

there is Linux "cat" command which is not accepted on MS Windows. Could that command be replaced with Python equivalent ?

This is buildup log from MS Windows:
[code]

[2015-10-22 10:41] miroi commented on #4
Hi again,

after some time
[code]
I got this error
[code]

[2015-10-22 12:32] robertodr commented on #10
I think you are building an outdated version of the library. `libpcm.a` is not created anymore by merging static sub-libraries, but rather compiling all sources into one.

[2015-10-22 13:03] miroi commented on #10
OK; I updated proper PCMSolver, and got (MS WIndows - appveyor)

'touch' is not recognized as an internal or external command...

Would be good to treat Boost downloading with universal python commands so that it works on all platforms...

[code]

[2015-10-22 13:07] miroi opened #11 "PCMSolver on MS Windows - compilation fails..."
Hi,

what could be be wrong please ?
[code]
The compilatio goes...
[code]

[2015-10-22 13:10] miroi commented on #10
Yes, there must be Windows Boost library, http://diracprogram.org/doc/master/installation/windows.html

I try to implement Boost-for-Windows downloading for appveyor....

[2015-10-22 13:43] miroi commented on #7
Here is my first attempt - https://github.com/miroi/pcmsolver/blob/appveyor/appveyor.yml

Hoping I shall adapt the Boost installation according to http://diracprogram.org/doc/master/installation/windows.html

[2015-10-22 20:03] miroi commented on #11
Concerning the dllimport errors, I tried this hint, https://stackoverflow.com/questions/4644758/using-dllimport-procedure, but did not get it compiled anyhow....

[2015-10-23 05:06] robertodr commented on #8
@miroi could you confirm that commit 788ae3fd4fd5f7fd445ecadabab065e974026b81 fixes the problem with `noexcept`?

[2015-10-23 05:22] miroi commented on #7
Hi,

you can take  https://github.com/miroi/pcmsolver/blob/appveyor/appveyor.yml into master;

however, Boost cmake detection does not work, see  https://testboard.org/cdash/index.php?project=PCMSolver

[2015-10-23 05:26] miroi commented on #8
Fails again:
[code]

[2015-10-25 20:57] robertodr commented on #8
@miroi can you confirm that d770f16e2375f18332854fb48ec562dea05a4952 solves the compilation issue?

[2015-11-01 09:18] miroi opened #12 "PCMSolver does not compile with PGI ..."
Aby help ?

[code]

[2015-11-01 09:23] miroi commented on #8
Works (with compilation warnings), thanks.
[code]

[2015-11-01 09:23] #8 closed

[2015-11-01 15:34] robertodr commented on #12
PGI doesn't implement a C++ ABI, so the header cxxabi.h is missing. That is used to unwind the call stack when an error occurs and pinpoint the 5 functions most recently called. Until I figured out how to fix this, could you try mixing the PGI Fortran compiler and the GNU C and C++ compilers and see what happens?

[2015-11-01 18:23] miroi commented on #12
Fine, g++ works instead of pgCC. The pgcc compiler can be kept. Closing this issue.
[code]

[2015-11-10 14:38] shoefener opened #13 "Provide a function to get finite elements areas in the API"
Would be nice to have a function "get_tesserae_area" which provides the areas of the tesserae to the host program.

[2015-11-10 20:19] robertodr commented on #11
@miroi I managed to compile on AppVeyor, some of the tests are broken. I have been working on the hotfix-appveyor branch and this is the latest (failing) build: https://ci.appveyor.com/project/robertodr/pcmsolver
It seems the `--verbose` argument to `ctest` is ignored on AppVeyor. I cannot thus gather more information from the CI workers on why the segfaults happen. Can you suggest a strategy to a

[2015-11-10 20:44] miroi commented on #11
Aaah...so you managed to make a complete build and run tests on appveyor ?  Wau, I see https://ci.appveyor.com/project/robertodr/pcmsolver/build/job/dw7aisg6hhy35ry2

On my branch it failed last time on cmake-boost detection, but you overcome it, right ?

Myself, I can not compile PCMSolver on Windows Server, but appveyor worked did it. Good to know that there is a way to compile it on MS Windows

[2015-11-10 20:46] miroi commented on #11
Ah, here: https://github.com/PCMSolver/pcmsolver/blob/hotfix-appveyor/.appveyor.yml#L77

ctest -D ExperimentalConfigure -D ExperimentalBuild -D ExperimentalTest -D ExperimentalSubmit

Maybe we will see stderr+traceback on CDash ?

[2015-11-10 20:47] miroi commented on #11
And appveyor.yml can be hidden (and functioning) as **.appveyor.yml**, right ?

[2015-11-10 20:49] robertodr commented on #11
I simplified the module quite a bit. I got rid of the dependency on compiled Boost libraries and removed all platform-dependent commands from the CMake scripts. I will play around with both your suggestions later tonight. Thanks! As a sidenote, the custom exception class is now gone and you might want to have a go again at the pure PGI build.

[2015-11-10 20:49] robertodr commented on #11
Yes you can choose whatever name for the YAML file in the project settings on AppVeyor.

[2015-11-10 20:54] miroi commented on #7
Closing this issue as you are now working with the appveyor.

[2015-11-10 20:54] #7 closed

[2015-11-10 21:00] miroi commented on #11
Fine,  I will try PGI set (pgf90,pgcc, pgCC)  and XL (xlf90,xlcc,xlCC) sets.

[2015-11-10 21:03] miroi commented on #4
Now I got
[code]

[2015-11-10 21:12] miroi commented on #12
Well, reopening after PCMSolver upgrade  - the pgCC gives error:

[code]

[2015-11-10 21:13] robertodr commented on #12
Are you on the hotfix-appveyor branch? That's were I made the last updates.

[2015-11-10 21:17] miroi commented on #12
ah, no...I have to switch

[2015-11-10 21:23] miroi commented on #4
Well, on branch hotfix-appveyor
[code]

[2015-11-10 21:31] robertodr commented on #4
The build with the XL compilers is much more problematic, so I did not expect these simple fixes to work for that... I can't offer much help on this right now

[2015-11-10 21:41] miroi commented on #12
Errors again:

# On branch hotfix-appveyor
[code]

[2015-11-10 23:36] robertodr commented on #11
Closing this and re-opening as "tests segfault"

[2015-11-10 23:36] #11 closed

[2015-11-10 23:38] robertodr opened #14 "PCMSolver on MS Windows - some tests segfault"
Some of the tests are segfaulting on the AppVeyor CI server:
https://ci.appveyor.com/project/robertodr/pcmsolver/build/83

[2015-11-11 14:35] robertodr commented on #10
Closing as this is no longer relevant

[2015-11-11 14:35] #10 closed

[2015-11-11 14:48] miroi opened #15 "Compilation on MS Windows Server 2012 fails"
This is my MS Windows Server 2012 machine, branch  hotfix-appveyor :

[code]

[2015-11-11 16:34] shoefener opened #16 "Add option to set the scaling factor for the diagonal elements of S and D"
Would be nice to have the scaling factor of the diagonal elements for CPCM (~ 1.07) as an input option, since the value of the constant slightly varies in the literature.

[2015-12-03 16:27] miroi commented on #14
Hi ROberto,

my simple Fortran project, https://github.com/miroi/fortran_input_reader , is giving SegFault on AppVeyor, though the interactive compilation and run on MS Windows Server2012 is fine.

[2015-12-03 16:29] miroi commented on #15
Hi ROberto,

here is better compilation output. What could be wrong with my MinGW64 installation ?
[code]

[2016-02-03 17:20] miroi opened #18 "pcm fails with intel 2013 suite..."
Hi ROberto,

what could be wrong with DIRAC-pcm on this machine ?

[code]
giving :
[code]

[2016-02-03 19:35] robertodr commented on #18
Looking closely at the link line, I see that `libstdc++` is never listed. And that's the source of the error.
[code]
This is **not** a PCMSolver issue but a DIRAC linking issue, therefore I am closing it. Please file it in the relevant repository.

[2016-02-03 19:35] #18 closed

[2016-02-04 08:30] miroi commented on #18
Aaaah, sorry Roberto.

[2016-02-04 15:42] wpoely86 opened #19 "Use own Eigen and Eigen+MKL"
1) do not force the user to use the Eigen bundled with pcmsolver. There are many very good reason why I would want that pcmsolver uses the Eigen I have specified.

2) Just setting `EIGEN_USE_MKL_ALL` to let Eigen use the MKL is not sufficient. You also need to link against it. Please add a FindMKL and add it to the link targets

[2016-02-04 16:00] robertodr commented on #19
Hi!
1. I removed this possibility some time ago, since I saw no need for it. I can certainly reimplement it. Out of curiosity, which version of Eigen would you want to use the library with?
2. This is on purpose, as specified [here] Finding MKL is not exactly trivial with CMake and I don't want to maintain a script that is never used. It should be fairly easy to peruse the [MKL Link Line Advisor]

[2016-02-04 16:23] wpoely86 commented on #19
Let me first explain the background: I'm installing a git version of PSI on our HPC system. Reproducibility and control of the build are key. We want and need to control and test all dependencies.
1) Eigen is special that it's a headers only library but we still want to control which version it uses. If bugs are fixed, we don't want to be dependant on you to upgrade for example. We have version of

[2016-02-04 16:34] robertodr commented on #19
Gotcha.
1. I am working on it.
2. Are you compiling within Psi4 or are you compiling the library on its own? In the former case, MKL is detected by Psi4 and at linking everything should work out. In the latter case, then I'd expect the use to know what he/she is doing... Anyway, I agree with you about "add it completely or not at all" and I'll choose the second option. This was a leftover from a r

[2016-02-04 17:11] wpoely86 commented on #19
About the rpath:
[code]
In this case `/dev/shm/ward` is the build directory. As you can see in the end, `-Wl,-rpath,/dev/shm/ward/PCMSolver/20160204/intel-2016a-Python-2.7.11/easybuild_obj/lib ` it's adding an rpath for the build directory which should not happen.

[2016-02-04 20:10] robertodr commented on #19
OK, I see. And that's BTW another leftover, thanks for pointing it out.
It seems you are compiling the library on its own. I assume you will pass the location of the built library to Psi4 _via_ `--pcmsolver-dir`, correct?
I suggest you use these additional options to the `setup.py` script then:
[code]
These are identical to the one for the build within Psi4. You will build the unit tests too.

[2016-02-05 00:03] robertodr commented on #19
You can give your own Eigen3 _via_ the option `--eigen=<EIGEN3_ROOT>` to `setup.py`
Still looking at the rpath issue, it's trickier than I had thought.

[2016-02-05 13:36] robertodr commented on #19
Regarding the RPATH issue: `run_pcm` executable has an RPATH that points to both the install tree and the build tree. Other executables that are not installed (`update_reference_files` and `unit_tests`) have an RPATH that points to the build tree. `libpcm.so.1` does not have an RPATH. Do you think it's a satisfactory solution?

[2016-02-05 16:09] wpoely86 commented on #19
In my case, `run_pcm` has an rpath to the build directory. It's not really an issue for me as our build directory are always temporarily but in the general case, this could lead to very ugly problems: if you change stuff in your personal build directory, it could break an installed version of `run_pcm` etc.

I found another issue: in one of the files (`tests/C_host/C_host-functions.h`) there is so

[2016-02-07 08:07] loriab opened #21 "build problem with Psi4"
Some changes in the past few days have broken the internal cmake build of pcmsolver in psi4. Building against an older version works. See discussion at https://github.com/psi4/psi4private/pull/124#issuecomment-180826563. Maybe should have a git tag at proven version, then ExternalProject in psi4 summons that tag of pcmsolver? The discussion is for branch wavefunction_pass rather than master, but t

[2016-02-07 14:24] robertodr commented on #21
@loriab I minted a new release fixing the problem. You should update the tag in Psi4 to point to this one from now on. Sorry for the trouble.

[2016-02-07 14:24] #21 closed

[2016-02-07 14:34] robertodr commented on #19
@wpoely86 I am keeping the solution outlined above for the RPATH. The standard for C is set to C99 for [Intel], [GNU] and [Clang] compilers alike.
I also minted a stable v1.1.0 release, which is the one you should refer to if you're creating an easybuild "recipe".

P.S.: If you manage to get an easybuild "recipe" for Psi4 and addons, I'd be very grateful if you shared it.

[Intel]: https://github.

[2016-02-08 16:17] wpoely86 commented on #19
You shouldn't overwrite the `CMAKE_C_FLAGS` and friends flags. The user should be able to set them from the outside (like we do). The `-std` flag is not portable, hence the reason why CMake has it own infrastructure to add them.

I've got a working PSI4 easyconfig with PCMSolver. Only 4 tests fail: `opt10`, `pubchem1`, `pubchem2`, `pywrap-opt-sowreap` and `sapt4`. You can find it at hpcugent/easyb

[2016-02-08 16:17] #19 closed

[2016-02-10 20:27] loriab opened #22 "cmake version"
Thanks for the `v1.1.0` tag. However, when in psi4 I have `GIT_TAG v1.1.0` (as is presently in psi4/psi4private master), I get this problem building pcmsolver (https://github.com/psi4/psi4private/pull/124#issuecomment-181430744). That's with cmake 3.0.2 . If I update to 3.2 it works fine. If Jet builds it with 3.1.0, it works fine. Perhaps a required cmake version increase is required for both pcm

[2016-02-11 02:07] loriab opened #23 "loosen test cases in psi4"
Hi @robertodr, note that I turned off df-scf pre-iterations for pk in psi4, and that naturally jiggled the final digits of scf total energies a bit. In pcm-dft and pcm-scf test cases, you were only converging to 1e-6, but were testing to 1e-8 and 1e-10, so those started failing. I loosened them up in https://github.com/psi4/psi4private/commit/2485238757173ef22d2644dc94ce361ba5eb850c, but you may w

[2016-02-11 10:21] robertodr commented on #22
@loriab Sorry for the radio silence. It might be that some older versions of CMake have troubles linking  only object libraries without "real" targets. I unfortunately have to keep the ultra-conservative requirement on CMake version. I will download the 2.8.8 and 3.0.2 executables and try how the build goes.

[2016-02-11 10:21] robertodr commented on #23
Thanks for the heads up! Did you file something similar also for Psi4?

[2016-02-11 12:15] robertodr commented on #22
I can confirm that CMake 2.8.8 doesn't actually work. Trying to troubleshoot the problem.

[2016-02-11 14:38] loriab commented on #22
It's really easy to get cmake these days. I just `conda install cmake=3.2` to test the make version hypothesis, if that helps as an argument against "ultra-conservative" requirements.

[2016-02-11 14:42] loriab commented on #23
No, all the psi4 test cases are old enough to have been jiggled before and had to have their comparison criteria aligned with the actual convergence levels. So after the `pk` change, only pcm-scf and pcm-dft broke.

[2016-02-11 15:55] robertodr commented on #22
@loriab it's not me who needs convincing on this point :wink: Being able to require CMake 3.2 would really solve a lot of small hacks in my CMake infrastructure. I have to roll with the requirements of the other QC programs that depend on PCMSolver, which are ultra-conservative (with little chance of convincing...) An update on this issue:
1. The expansion of a list argument was not handled correc

[2016-02-23 08:49] arnfinn opened #24 "race condition in compilation "boost/shared_ptr.hpp""
[code]

[2016-03-10 08:41] robertodr opened #25 "Ubuntu 12.10, 32 bit + Intel compiler 2013.1 produce a faulty library"
Calls to the `pcmsolver_new` function return an invalid pointer to the `pcmsolver_context_t` struct.
The problem is not present when using GCC, so I suspect a bug in the implementation of `iso_c_binding`.

[2016-03-10 16:44] shoefener opened #26 "Cavity construction can be extremely slow"
The input file

[code]

can lead to extremely long computation times (about 20 minutes and more) for the cavity construction

[code]

on some computers, while on others it takes about 1 second only.

[2016-03-10 17:43] robertodr commented on #26
Can you be more specific about the meaning of "on some computers"? Is the library compiled in release mode in all cases? Do you have a time profile? It would be extremely helpful if you could provide the following:
1. The time elapsed in the call to `pcmsolver_new` and the time elapsed in the call to `pcmsolver_get_centers`
2. If you compile the library with `-DENABLE_TIMER=ON` and call `pcmsolver

[2016-03-10 21:33] shoefener commented on #26
Unfortunately, I cannot be more specific on "some computers" since I could not derive a general rule when this occurs.. I compiled the library once and use the same binary for all my KOALA compilations. For the sake of curiosity, what would be the grid construction time you expect for this input?

However, I will do what you suggested once you have the 1.1.1 version in place.

[2016-04-03 10:42] robertodr commented on #26
@shoefener I apologize for getting back to you on this so late. I am still struggling to get the new version out... From the few experiments I've run, I would say that the bottleneck is not cavity formation, but system matrix construction and/or inversion. Could you try with a larger `area` input parameter, say 1.0 angstrom^2 instead of the default value of 0.3 au^2? For the type of systems I thin

[2016-04-09 20:49] robertodr commented on #24
@arnfinn Closed via [v1.1.1](https://github.com/PCMSolver/pcmsolver/tree/v1.1.1) Updating the version in DALTON soon.

[2016-04-09 20:49] #24 closed

[2016-04-09 20:50] robertodr commented on #22
@loriab I finally managed to release a patched version [v1.1.1](https://github.com/PCMSolver/pcmsolver/tree/v1.1.1) I apologize for the amount of time it took me.

[2016-04-09 20:50] #22 closed

[2016-04-09 20:51] robertodr commented on #16
@shoefener Added in [v1.1.1](https://github.com/PCMSolver/pcmsolver/tree/v1.1.1)

[2016-04-09 20:51] #16 closed

[2016-04-09 20:52] robertodr commented on #13
@shoefener Added in [v1.1.1](https://github.com/PCMSolver/pcmsolver/tree/v1.1.1)

[2016-04-09 20:52] #13 closed

[2016-04-09 21:01] robertodr opened #27 "GePolCavity printer might not work properly for explicit lists of spheres"
The new printer in GePolCavity might not work properly when an explicit list of spheres is provided in the input.
This is due to the way AU to Angstrom conversions are handled. My idea is to use Boost.Units for dimensional analysis so that everything can be done transparently.

[2016-04-10 00:04] #23 closed

[2016-06-16 06:40] loriab opened #28 "c99 in tests"
Hi @robertodr , feel free to close this issue unaddressed. But in case you're interested, I get the below when I build PCMSolver with tests enabled (Mac; gcc 4.8.5). Full CMake command further down.

[code]

[code]

[2016-06-16 08:18] robertodr commented on #28
@loriab I am puzzled. According to https://github.com/PCMSolver/pcmsolver/blob/release/1.Y/cmake/custom/compilers/GNU.C.cmake#L3
the standard is set to C99... The same is true also for Clang and Intel.

[2016-06-16 18:05] loriab commented on #28
All solved. `conda-build` sets `CFLAGS` to `-arch x86_64`, then your specialized `CFLAGS` including C99 didn't get picked up. It build the library fine but not the tests. So now for conda, I clear `CFLAGS` before cmake and just reset it afterwards. Tests build and pass.

[2016-06-16 18:05] #28 closed

[2016-06-17 10:12] robertodr commented on #28
@loriab Thanks! Good to know it's solved!

[2016-06-24 07:39] robertodr opened #29 "Add Allinger's MM3 set of radii"
This set of radii is the one used by default in [ADF] for the COSMO implementation. They are obtained from the data reported in the [original paper] _divided_ by 1.2

[ADF]: https://www.scm.com/documentation/ADF/Input/COSMO/
[original paper]: http://www.sciencedirect.com/science/article/pii/S0166128009800080

[2016-06-24 07:40] robertodr opened #30 "Save inverted PCM matrix to NumPy array"
Currently, only the cavity is saved to zipped NumPy format (.npz) It might be more useful to save the inverted PCM matrix and use that for a restart, skipping cavity formation completely.

[2016-07-18 22:40] robertodr commented on #26
The problem was actually in the inversion of the PCM matrix. Solved with 34d2fea

[2016-07-18 22:40] #26 closed

[2016-07-18 22:43] robertodr commented on #29
Added with v1.1.5  2d7f7a9

[2016-07-18 22:43] #29 closed

[2016-11-23 16:11] loriab opened #32 "converting PCMSolver from MODULE to CONFIG"
Hi @robertodr, if you're willing to do some CMake revamping for PCMSolver, that'd be a great help. Ask me any questions, no matter how small.

* Yes, for the most part if you copy [libefp](https://github.com/psi4/libefp/tree/config3) for simple, [gdma](https://github.com/psi4/gdma) for Fortran, and [CheMPS2](https://github.com/SebWouters/CheMPS2) for complex and in particular simultaneous shared/s

[2016-12-01 22:36] robertodr commented on #32
@loriab thanks for the very detailed PR. I'll be working on it in the next days. If you have an active fork, I'd suggest to nuke it and re-fork. The `master` branch was subjected to my iconoclastic, history-rewriting fury. The `release/1.Y` is fine, but I'd prefer PR to be directed to `master`

[2016-12-02 16:17] robertodr commented on #14
I am closing this issue. I am currently not even able to compile on AppVeyor.

[2016-12-02 16:17] #14 closed

[2016-12-02 16:26] robertodr opened #33 "PCMSolver on Windows"
It is currenlty **not possible** to compile the library on Windows, as shown by the failure of the [AppVeyor CI builds](https://ci.appveyor.com/project/robertodr/pcmsolver/history)
There is a problem I cannot clearly understand in the linking stage of the `run_pcm.exe` executable:
[code]
I currently suspect a visibility issue for those symbols, but I currently have no more time to invest on this.

[2016-12-02 16:26] robertodr commented on #15
Closing, since new problems have appeared. Refer to #33

[2016-12-02 16:26] #15 closed

[2016-12-02 20:40] miroi commented on #15
Hi Roberto,

FYI: my Windows Server testing of fresh PCMSolver.

[code]

[2016-12-03 11:03] robertodr commented on #15
OK, this is a bug in the compiler flag selection. Those are only available starting from the GCC 5 series of releases. Could you please try to compile in release mode? Also, could we continue discussion in the #33 issue?

[2016-12-04 08:34] miroi commented on #15
Hi Roberto,

my MS Windows Server 2012 is different from 'unknow' appveyor CI sever(s); but we can continue the discussion in #33

but here is part of the release output

[code]

[2016-12-15 15:27] robertodr opened #34 "Static library and factory methods"
When compiling the static library `libpcm.a`, the factory methods for the various objects (cavities, solvers, Green's functions and boundary integral operators) are not initialized properly.
No subclasses are subscribed to their respective factory which leads to a crash at runtime during library initialization from the host program.
The solution is to defer subscription to library initialization,

[2016-12-15 15:32] robertodr opened #35 "Testing the static library"
Issue #34 shows that our CI system doesn't check if the static library `libpcm.a` is sane or not.
Some of the CI builds should be run with the `--static` options to the `setup.py` script.

[2016-12-15 15:34] robertodr opened #36 "Logic to enable extended diagnostics flags"
The extended diagnostic flags should be enabled only when the GCC version is >= 5.1.0 **and** the C++11 standard was selected.

[2017-01-29 22:55] loriab opened #37 "intel fortran test error"
FYI, I get this compiling master with Intel 16.0.3. Suppressing the test for now.

[code]

[2017-01-31 09:32] robertodr commented on #37
It should be fixed by using `(/ 3_c_int, nr_nuclei /)` as second argument in the `reshape` function. I am actually surprised that this hasn't been caught before...

[2017-01-31 23:05] loriab opened #39 "Python 3 compatibility"
I don't think PCMSolver is Python3 compatible. Please to remedy this, as needed for Psi4 1.1. Here's the first error I get.

[code]

[2017-02-01 09:34] robertodr commented on #39
No, it definitely isn't Python 3 compatible. I am working on it on your fork, it's going to be easier than doing it on the mess I currently have on my development branch :disappointed:

[2017-02-05 22:06] robertodr commented on #34
Closed with e1d3579

[2017-02-05 22:06] #34 closed

[2017-02-05 22:07] robertodr commented on #35
Closed with e1d3579

[2017-02-05 22:07] #35 closed

[2017-02-05 22:07] robertodr commented on #36
Closed with e1d3579

[2017-02-05 22:07] #36 closed

[2017-02-15 13:59] robertodr commented on #39
Closed by #38

[2017-02-15 13:59] #39 closed

[2017-02-15 13:59] robertodr commented on #37
Closed by #38

[2017-02-15 13:59] #37 closed

[2017-02-15 14:01] robertodr commented on #32
Closed by #38 @loriab open a new issue for anything that's missing PCMSolver-side to be fully Psi4-friendly (I am thinking the `__init__.py` discussion we had)

[2017-02-15 14:01] #32 closed

[2017-02-15 14:02] robertodr commented on #30
No inverse PCM matrix is stored C++-side any longer, therefore closing as no longer relevant.

[2017-02-15 14:02] #30 closed

[2017-02-15 21:01] loriab opened #40 "pcmsolver/__init__.py"
Copied over from psi4/psi4#594 and psi4/psi4#599 discussion

I meant that it'd be nice to have an installation dir structure like the below where there's an outer pcmsolver module/namespace.
[code]
Then `sys.path('here')` is the operation, and psi4 does `import pcmsolver; pcmsolver.pcmsolver.parse_pcm_input('pcmsolver.inp')` or whatever and all the getkw and codata are within the pcmsolver namespa

[2017-03-24 17:26] robertodr commented on #25
Ubuntu 12.10 reached its end of life May 16 2014. Closing.

[2017-03-24 17:26] #25 closed

[2017-03-24 17:35] robertodr opened #41 "Tesserae vertices and arcs should be written to file"
Tesserae vertices and arcs are currently not written to file. If a restart on the cavity is done with a non isotropic solvent this would result in a failure when calculating the diagonal elements of the boundary integral operators.
We need to decide if it's necessary to write vertices and arcs to file or just crash with an informative message when the combination restarted cavity/non isotropic sol

[2017-03-24 17:37] robertodr opened #42 "z-dependent differential equation solver"
The `RadialFunction` class is generic with respect to the system of equations one needs to solve and the asymptotic form of the independent solution to the ODE.  The system of equations type is passed _via_ the `ODESystem` template parameters. This can currently have only the `LnTransformedRadial` type, only valid for the spherical diffuse case. The asymptotic form of the independent solution is p

[2017-03-24 17:39] robertodr opened #43 "Timers using C++11 standard library"
C++11 added the `chrono` library. This can be used to provide a streamlined implementation of the internal timer class. See [here](http://en.cppreference.com/w/cpp/chrono)

[2017-03-25 07:42] robertodr commented on #4
The IBM C++ compilers are **not** officially supported. The current suggested workaround is to use the GNU compilers for C and C++ and the native IBM compiler for Fortran. Closing this issue.

[2017-03-25 07:42] #4 closed

[2017-03-25 07:42] robertodr commented on #12
The PGI C++ compilers are **not** officially supported. The current suggested workaround is to use the GNU compilers for C and C++ and the PGI compiler for Fortran. Closing this issue.

[2017-03-25 07:42] #12 closed

[2017-03-25 08:17] robertodr opened #44 "Overhaul (or throw away) Logger class"
This piece of code has become deadwood. See if it can be restored to working order using C++11. If yes, document its usage.

[2017-03-25 08:28] robertodr opened #45 "Interactive periodic table for radii selection"
It would be cool to have something like [this](http://bokeh.pydata.org/en/latest/docs/gallery/periodic.html) instead of the current hand-made pictures.

[2017-03-25 08:30] robertodr opened #46 "Linear algebra wrappers"
Provide wrappers for Eigen types that can:
1. Track base type (real or complex)
2. Track symmetry. This will result in a breaking API change, since there would be no need anymore to pass the irrep!

[2017-03-25 08:31] robertodr opened #47 "Dimensional analysis"
C++11 will let us introduce compile-time dimensional analysis. [This library](https://github.com/martinmoene/PhysUnits-CT-Cpp11) seems promising.

[2017-03-25 08:32] robertodr opened #48 "Management of external subprojects"
Updating external subprojects currently requires a number of actions to be executed by hand. These are not clearly documented and might also break at some point. Using [git subtrees](https://developer.atlassian.com/blog/2015/05/the-power-of-git-subtree/) might be a solution. Discuss with @bast

[2017-03-25 08:33] robertodr opened #49 "Testing using Python"
Catch is a great unit testing framework. However, it has become really annoying to have to compile tests to run them, especially when changing just a couple of parameters. Having the tests in Python would also benefit newcomers, I think it would be easier to learn the infrastructure.

[2017-03-25 08:33] robertodr opened #50 "Input reading using YAML"
We should ditch GetKw in favor of a standard format. [YAML](http://yaml.org/) seems promising and widely interoperable in between languages.
There's a [C++ implementation](https://github.com/jbeder/yaml-cpp) and a [Python implementation](https://pypi.python.org/pypi/ruamel.yaml)

[2017-03-25 08:34] robertodr opened #51 "Use Clang tools and sanitizers"
1.  Provide `clang-format` file. This helps formatting the code in a standard way using the tool provide by [Clang](http://clang.llvm.org/docs/ClangFormat.html) This explains the options: https://clangformat.com/
2. Use `clang-tidy` linter. See [here](http://clang.llvm.org/extra/clang-tidy/)
3. Use sanitizers provided by Clang. Easily set up using [CMake](https://blog.kitware.com/ctest-cdash-add-s

[2017-03-25 08:35] robertodr opened #52 "Input reading"
The Input object has become too large and so has the Python input parsing script `pcmsolver.py`
Each section in `pcmsolver.py` has to become a different Python module. Each module lives in the directory of the pertinent C++ code. Each Python module documents its keywords, so that the website documentation can be generated (semi-)automatically.
We could in principle generate also the C++ code given

[2017-03-25 08:35] robertodr opened #53 "Symmetry handling"
The way we handle symmetry is not clearly documented. There is only one host code (DALTON) that handles symmetry, but I would not consider that as a "standard" we can rely upon. In particular, communication with the host codes **always** assumes that the surface functions have full dimension i.e. the total number of finite elements and not just the number of irreducible finite elements.

This lead

[2017-03-25 08:36] robertodr opened #54 "Add more solvents"

[2017-03-25 08:37] robertodr opened #55 "Add a `pcmsolver-config` script/executable"
This would work much in the way of `python-config` and accept command-line arguments to return:
* which version of PCMSolver is installed
* location of the libraries (static and shared)
* location of header files (`pcmsolver.h` and `PCMInput.h`)
Given that Fortran bindings **have** to be compiled on the fly, the script also needs to be a code generator. The _desideratum_ is that, given `pcmsolver.

[2017-03-25 08:37] robertodr opened #56 "Add a surface keyword to the input"
This would clarify how cavities are generated.

[2017-03-25 08:38] robertodr opened #57 "Drop C++03 compliance in favor of C++11"
We are currently relying on a number of Boost-based workarounds to implement certain features that are standard in C++11
Switch completely to C++11 to help de-Boost PCMSolver

[2017-03-25 08:38] robertodr opened #58 "Replace Boost.MPL with Brigand"
We need Boost.MPL for the fake run-time polymorphism in the Green's functions classes. Using C++11 this can be replaced by the much lighter Brigand library: https://github.com/edouarda/brigand

[2017-03-25 08:38] robertodr opened #59 "Switch to CMake 3.5"
It is time to ask for a more recent version of CMake as dependency. As a goodie, C++11 compiler features can be detected using standard CMake constructs.

[2017-03-31 09:59] robertodr opened #61 "[Documentation] Failing ReadTheDocs builds"
Builds on ReadTheDocs have been failing lately.

[2017-04-02 15:19] robertodr opened #62 "Remove all GitLab-related stuff from repository"

[2017-04-02 16:34] robertodr opened #63 "Document the branching model and release process"
Document the adoption of the [semantic branching model](https://dev-cafe.github.io/branching-model/) and how releases are prepared.

[2017-04-07 10:42] robertodr commented on #62
Fixed #64

[2017-04-07 10:42] #62 closed

[2017-04-07 10:45] robertodr opened #66 "Numerical integrator for collocation BEM"
Provide a numerical integrator for the collocation BEM.

## Possible Solution

There is some, mildly tested, code for this functionality already in [`Numerical.hpp](https://github.com/PCMSolver/pcmsolver/blob/release/1.Y/src/bi_operators/Numerical.hpp)
and [`Numerical.cpp](https://github.com/PCMSolver/pcmsolver/blob/release/1.Y/src/bi_operators/Numerical.cpp)
It needs additional testing, possibly

[2017-04-10 10:21] #41 closed

[2017-04-10 19:29] robertodr opened #69 "Use Danger integration to automate some reviewing tasks"
Integration with [Danger](http://danger.systems/) can automate some code reviewing tasks:
- check that the CHANGELOG.md was updated
- check that modified/added source files comply to the formatting standards
- check that the documentation was updated
- check that there are no merge commits in the history of a PR

[2017-04-11 05:59] robertodr opened #70 "Add tests for surface functions saving/loading API functions"
API functions for saving/loading surface functions are currently barely tested, if at all. This is very critical to check that string passing from Fortran is not broken.

[2017-04-15 07:44] robertodr opened #75 "Clean-up references to yet-to-be-released functionality"
The codebase is riddled with references to functionality that never was in the publicly released version, like the wavelet and the TsLess code. This is especially true for the input manager and has happened because in the early days of the module we followed the (crazy) strategy of merging everything to the stable branch (and then removing unreleasable stuff by hand) to avoid feature branches to d

[2017-04-22 20:19] arnfinn opened #76 "Compiling error for gcc < 5.1"
The flags ‘-Wsuggest-final-types’, ‘-Wsuggest-final-methods’ and ‘-Wsuggest-override’ introduced in gcc 5.1, but used also for gcc < 5.1

## Expected Behavior
No error

## Current Behavior
Error during compiling:
g++: error: unrecognized command line option ‘-Wsuggest-final-types’
g++: error: unrecognized command line option ‘-Wsuggest-final-methods’
g++: error: unrecognized command line option ‘-

[2017-04-25 16:28] bast commented on #76
And I assume that the project supports GCC < 5.1. If we take `.travis-ci.yml` as reference, then yes.

[2017-04-25 18:09] robertodr commented on #76
Yes, confirmed as a bug. Apologies for being late on this :smile:

[2017-04-25 21:04] bast commented on #76
My goal is to do something like this: http://stackoverflow.com/a/4065761. Better ideas?

[2017-04-26 06:47] robertodr commented on #76
That would be a better solution to get the version number. Eventually I wanted to move to a scheme were flags are checked for compatibility with the compiler before being set. I have a semi-working version [here](https://github.com/PCMSolver/ddPCM/blob/master/cmake/custom/compilers/FortranFlags.cmake)

[2017-04-26 07:23] bast commented on #76
OK so I will go with the version number first and later we can switch to your scheme. I think I like it.

[2017-04-26 07:33] robertodr commented on #76
I think it should be safer and should lead to cleaner CMake code. On the other hand, I can't quite decide if compiler flags should be set globally or on a per-target basis.

[2017-04-26 07:37] bast commented on #76
For me globally (when the globe is the library) if possible, and per target if needed.

[2017-04-26 07:38] robertodr commented on #76
I would then remove the `summary.cmake` from [here](https://github.com/PCMSolver/pcmsolver/blob/release/1.Y/cmake/autocmake.yml#L56) since the information is possibly unreliable.

[2017-04-28 20:14] bast commented on #76
What is the target branch for a fix?

[2017-04-29 10:43] robertodr commented on #76
`release/1.Y` I would then update `master` by cherry-picking.

[2017-04-29 10:45] bast commented on #76
OK let me know if it went to the wrong branch, I can easily relocate.

[2017-06-20 17:36] robertodr commented on #61
Builds are still failing. @arnfinn @ilfreddy any chance you could have a look?

[2017-06-20 17:39] robertodr opened #78 "[Continuous Integration] Failing Mac builds on Travis"
Some Mac OS X builds on Travis are regularlarly failing. It seems to be a problem with the Fortran compiler.

[2017-06-20 19:29] arnfinn commented on #61
I can take a look. I have close to none experience in readthedocs builds, so don't expect too much:)

[2017-06-21 13:33] robertodr commented on #61
Cool, don't hesitate to ask. You are now both admins for the ReadTheDocs page.

[2017-06-25 10:27] #70 closed

[2017-06-30 10:15] ilfreddy opened #79 "CMake issue: removing a folder with test files triggers recompilation"
## Expected Behavior
Removing a a folder in the test suite should make CMake copy a fresh folder with updated test fils (I tried with tests/input). No executable or source file is affected and recompilation should therefore not be necessary.

## Current Behavior
In addition to copying the folder (correct behavior) CMake recompiles some libraries.

## Possible Solution

## Steps to Reproduce (for b

[2017-06-30 13:21] arnfinn commented on #61
### A couple of notes

- commit 12210404 [ok](http://readthedocs.org/projects/pcmsolver/builds/5065037/) running Sphinx v1.3.5
- commit d8adfbb4 unknown
- commit 303dd253 [failed](http://readthedocs.org/projects/pcmsolver/builds/5176813/) running Sphinx v1.5.3

Thus, it is either commit d8adfbb4 or 303dd253, or going from Sphinx v1.3.5 to v1.5.3 that is causing the failed builds (probably the latt

[2017-06-30 21:32] robertodr commented on #61
Great work @arnfinnn! You can test locally by doing `make doc` in the build directory. Look carefully in the ouput of the setup script to check that the dependencies for the `doc` target are all installed on you system. We can force usage of Sphinx v1.3.5, but it's better if we manage to make it work under the default Sphinx version of ReadTheDocs

[2017-07-01 16:34] bast commented on #61
Good catch!

[2017-07-03 21:48] robertodr commented on #79
The solution I can see is to make the copy operation a custom target upon which testing itself depends.
As a temporary workaround, `touch CMakeLists.txt` in the subdirectory of `tests` that you've modified.

[2017-07-06 14:46] arnfinn commented on #61
@robertodr: I am not able to build the docs locally.
[code]
Sorry for my stupidity, but are there some other way I can do it?

[2017-07-06 14:53] robertodr commented on #61
can you post the output of `./setup.py` I suspect there's one or two missing dependencies.

[2017-07-06 15:01] arnfinn commented on #61
Here you go:
[code]

[2017-07-06 15:14] robertodr commented on #78
Solved by pruning the Travis CI build menu.

[2017-07-06 15:14] #78 closed

[2017-07-06 15:15] #76 closed

[2017-07-06 15:16] robertodr commented on #61
These are the offending lines:
[code]
Sphind and Breathe can be installed using `virtualenv`. Note to self: document this :cry:

[2017-07-08 11:56] robertodr opened #84 "[Documentation] Document how to build documentation"
The dependencies needed to build documentation are not clearly stated anywhere.

[2017-07-15 21:35] arnfinn commented on #61
It might be related to [this bug](https://github.com/sphinx-doc/sphinx/issues/3709), which is not a bug in Sphinx but in Breathe. It has been fixed [here](https://github.com/michaeljones/breathe/pull/334), but probably not in an official release yet.

It is working with `Sphinx==1.5.6`. Maybe do that for now?

[2017-07-16 08:28] robertodr commented on #61
I am confused, what's the workaround that works? `Sphinx==1.5.6`? It is possible to point Pip to use the latest commit on Breathe `master` branch by adding this to the `requirements.txt`
`-e git+https://github.com/michaeljones/breathe.git@03ea574ef6034019c2e928c5733b24e64ec8b651#egg=breathe`

[2017-07-16 16:29] arnfinn commented on #61
Sorry for the confusion @robertodr. My fault:)

The build failed on Stallo, and it failed because of this bug in Breathe using Sphinx 1.6.x. So I thought this was the reason why it failed on RTD. But then I realized that RTD used Sphinx 1.5.x, so it has probably nothing to do with the bug in Breathe (the build is not failing on Stallo with the same Sphinx as on RTD).

I will continue looking for t

[2017-07-17 12:54] robertodr commented on #61
OK, I understand now. Good luck with the bug hunt. If it doesn't bear any fruit we can do `sphinx==1.3.5` and see if that works on RTD.

[2017-08-17 11:22] robertodr opened #88 "[Discussion] Input parsing without Getkw"
This thread is a _Request For Comments_ on how to rewrite input parsing.
@ilfreddy @arnfinn @bast Please comment on any of the following sections. @loriab I would also appreciate your input on this matter, if you have the time.

Goals to achieve
=============
- Make it easier for hosts to integrate with the library.
- Remove the dependency on Getkw.
- Bottom-up: reduce the number of steps a develo

[2017-08-17 13:43] robertodr commented on #61
Hi @arnfinn, how's debugging of this going?

[2017-08-17 20:14] arnfinn commented on #61
Up and down:)

I am able to build it after a wipe (cleaning out the build checkouts and environment), and maybe one more time. After that, it always fails.

Not sure how to proceed, but we can talk about it next week?

[2017-08-17 20:23] robertodr commented on #61
Annoying that you need to go in manually after a couple of times... Maybe it's possible to wipe intermediate files in the `conf.py` script? We can surely talk about it next week. Do they have a forum where we can ask for help?

[2017-08-18 11:21] ilfreddy commented on #88
The input file is "touched" when the program is running. @robertodr said is because everything is made uppercase. Still that should happen in the cache and not directly to the file on disk. This is (mildly) annoying when one is performing many tests with small modifications to the same input, because the editor complains the file has been modified.
Feature request: make sure the original input fil

[2017-08-18 11:26] ilfreddy opened #90 "correct rpath definition"
## Expected Behavior
The libpcm library used by PCMSolver should be the one freshly compiled, rather than the default one in /usr/local/lib

## Current Behavior
I had libpcm.dylib in /usr/local/lib which was used instead of the one just compiled.
Once the libpcm.dlyb in /usr/local/lib was removed, the latest one (pcmsolver/build/lib) was used instead, yielding the correct code behavior.

[2017-08-18 13:22] robertodr commented on #90
Can you print the contents of the relevant CMake variables and post them here?

[2017-08-18 13:24] robertodr opened #91 "[Feature request] Do not modify input file during a run"
The input file is "touched" when the program is running. @robertodr said is because everything is made uppercase. Still that should happen in the cache and not directly to the file on disk. This is (mildly) annoying when one is performing many tests with small modifications to the same input, because the editor complains the file has been modified.
Feature request: make sure the original input fil

[2017-08-18 13:25] robertodr commented on #88
@ilfreddy I've made a separate issue #91 out of your request. Let's try to limit this thread for comments on input parsing :wink:

[2017-08-18 16:56] loriab commented on #88
Would you want to consider PCMSolver _only_ taking JSON/py-dict input, with QC progs responsible for generating it from their native options parsing (perhaps this is "piggypacking"). Then perhaps PCMSolver additionally does a light str --> json or argparse --> json utility so it can be run independently.

Related discussion at https://github.com/MolSSI/QC_JSON_Schema , though admittedly Mol-center

[2017-08-19 10:49] robertodr commented on #88
Thanks @loriab. Admittedly, I'd prefer YAML (less curly braces around :smiley_cat:), but anything that is a standard format _and_ would relieve me from doing most of the work in defining it, is **very welcome**.

These are the flows of the input I am envisioning:
1. QC program needs to add a new input section for PCMSolver, with input parameters whose names and types are defined by the given versi

[2017-08-24 16:14] #69 closed

[2017-08-25 08:13] robertodr commented on #61
Status so far: it seems using `breathe` syntax in `.rst` files makes RTD crash.

[2017-08-25 21:17] #91 closed

[2017-10-19 00:52] robertodr opened #97 "PCMSolver cannot be built with Ninja"

[2017-10-19 19:41] robertodr commented on #97
Close by #98

[2017-10-19 19:41] #97 closed

[2017-10-20 13:06] robertodr commented on #61
@arnfinn news on this?

[2017-10-20 19:50] arnfinn commented on #61
Will take a look next week. I am working the university monday to wednesday

[2017-10-20 21:18] arnfinn commented on #61
Probably nothing, but writing it down so I will not forget:

We did not remove all the `doxygenclass:` (`breathe` syntax?) in the [rtd_testing](https://github.com/PCMSolver/pcmsolver/tree/rtd_testing) branch, but "forgot" the one in `users/interfacing.rst`. The build was killed in this file at one time, but when it passed (in the next push) the text was not show. Instead a [warning](http://pcmsolv

[2017-10-24 07:16] arnfinn opened #100 "[Documentation] Breathe doxygenstruct and doxygenclass fail in some cases"
Can not find the classes "Input", "Sphere", "ChargeDistribution", "Molecule" and "Meddle".

## Current Behavior

The following warnings are produced during build, and what is shown in the final documentation page:
[code]
This is as shown [here](https://github.com/michaeljones/breathe/blob/master/documentation/source/class.rst#failing-example) (Breathe documentation, example of intentionally fails)

[2017-10-24 14:04] robertodr commented on #100
Can you grep in the Doxygen XML output to see if these classes are there? Might be that they are excluded from parsing in `Doxyfile.in` (found under `doc`) for some weird reason :/

[2017-10-25 08:22] arnfinn commented on #100
OK, it seems like there is two ways to Rome. Either
- replace `.. doxygenclass:: Molecule` etc. with `.. doxygenclass:: pcm::Molecule`in the rst-files, or
- move the Doxygen section out of the `namespace pcm {` and to the head of the file.
[code]

@robertodr: what is the proper way?

[2017-10-25 11:48] arnfinn commented on #61
Again, probably nothing, but writing it down so I will not forget.

For failed build, this is seen:
[code]

[2017-10-25 12:00] robertodr commented on #100
Ugh! I didn't know that... So it might very well be that I broke docs when I introduced namespaces all over in the code... Anyhow, I think the best strategy is to modify all sources to have Doxygen groups for namespaces and then class documentation as usual. As an example:
[code]

[2017-10-25 14:01] arnfinn commented on #100
Can you give me an example on how to do it the `Atom.hpp` file? If I do `.. doxygenstruct:: pcm::utils::Atom` and move
[code]
inside namespace and
[code]
outside namespace, I do get this:
![screen shot 2017-10-25 at 15 59 18](https://user-images.githubusercontent.com/136346/32002748-81e709e8-b99d-11e7-9c4c-a18094fd3bc4.png)

Thus, without the \brief text, author etc.

[2017-10-25 14:17] robertodr commented on #100
I think we need to rewrite **all** of the Doxygen docstrings :sweat_smile:
We want to have:
1. `\file` at the top.
2. `\addtogroup` before any `namespace`.
3. `\class` or `\struct` before any class or struct.

For `Atom.hpp` it would look like this:
[code]

[2017-11-20 21:48] bast opened #106 "doc/conf.py executes generated python scripts, consider importing them"
However to do this the generated code would need to be wrapped in a function. I poked into some of these scripts (I didn't check what exactly they do) and they execute in the main scope.

[2017-11-22 19:41] robertodr commented on #40
@bast can you have look at this?

[2017-11-22 19:53] bast commented on #40
I will look at it. Currently I am not sure about the scope of work that needs to be done to achieve this. I need to first get an overview of what is there now. Can you give me some pointers of where to start poking? If not, I will use the sources, no problem.

[2017-11-22 19:58] bast commented on #40
I think my request is vague. What I meant is a recipe on how to build the Python interface and to reproduce the problem without reading many docs. But of course I can read docs and also read sources.

[2017-11-22 20:10] robertodr commented on #40
There is no proper Python interface to build for PCMSolver. The request was to have an `__init__.py` that knows how to import stuff that is used inside `pcmsolver.py`.

[2017-11-22 20:18] bast commented on #40
OK thanks I think I understand the issue. Stole the issue from you until further notice :-)

[2017-11-24 21:12] robertodr opened #108 "Consider generating Doxyfile from Python, instead of configuring a template"
Currently we have `Doxyfile.in` under `doc`. This file was generated using the `doxywizard` utility of Doxygen and then fine-tuned by hand to allow for configuration _via_ CMake. When we moved to ReadTheDocs, the configuration was moved to `conf.py`, since there is no CMake step on ReadTheDocs.
The file can actually be generated directly in `conf.py`, instead of reading in a file and then writing

[2017-11-25 17:03] robertodr commented on #106
Points to consider when refactoring the bar chart generation code:
  - [ ] Drop dependency on PyYAML. This is used to write out and read in the results from the `cloc.pl` script.
  - [ ] Drop dependency on Pygments. Currently needed to correctly infer what's the programming language of a given source code subdirectory. This helps parsing the output of the `cloc.pl` script.

[2017-11-25 20:40] robertodr commented on #58
#107 removes the need for metaprogramming.

[2017-11-29 20:54] bast commented on #40
Now looked a bit more into this. So just to clarify - instead of this (current situation):
[code]
we wish to have:
[code]

Did I understand the issue correctly?

[2017-11-29 20:57] bast commented on #40
... and correspondingly for the install target.

[2017-11-29 21:02] robertodr commented on #40
Yes, that is correct. `tmp-pcmsolver-py` is a workaround to configure the file and then copy it into `build/bin` Maybe it's not necessary...

[2017-11-29 21:09] bast commented on #40
Thanks! Now I understand I think. I will try to implement the change very soon and also check whether there is a better way to do the `tmp-pcmsolver-py`.

[2017-11-29 21:09] robertodr commented on #40
I am sure there is a better way :smile: That line was written a long time ago...

[2017-12-01 16:43] bast commented on #40
I have a PR coming up soon. Just running some tests to make sure I did not break stuff.

[2017-12-03 10:26] bast opened #111 "Consider making scripts such as pcmsolver.py configuration-state-less"
Currently these scripts are configured where paths to the binary is set at configure time. For context see #110.

Alternatives:
- paths are configurable using CLI at runtime
- use relative paths

Motivation:
- configuration is simpler
- development is simpler since you don't risk modifying a file that is not used or a file that is not tracked

[2017-12-03 10:26] bast opened #112 "In pcmsolver.py separate the __main__ part from the library part"
For context see #110.

The script part with CLI should be isolated out and be a thin layer in front of the library part. This would remove the hack with the relative imports. The library part should be as stateless as possible and could be tested with pytest for instance.

[2017-12-03 10:32] bast commented on #111
In other words I think that configuring `foo.py.in` into `foo.py` with absolute paths is an anti-pattern. IMO the better solution is to use either relative paths or receive path information from the outside (CLI).

[2017-12-03 18:47] robertodr commented on #61
Solved with #102. Thanks @arnfinn :tada: Closing

[2017-12-03 18:47] #61 closed

[2017-12-28 14:22] #58 closed

[2017-12-28 14:26] robertodr commented on #75
Closed by #107

[2017-12-28 14:26] #75 closed

[2018-01-18 21:30] #40 closed

[2018-01-28 19:52] yurivict opened #116 "Wrong files installed under bin/"
Related to this item in the changelog:
* Moved python scripts from bin/ to bin/pcmsolver/ and introduced bin/pcmsolver/__init__.py

Version 1.1.12 on FreeBSD 11.1 now installs files under bin/ that don't make sense:
[code]

The previous version installed files that look reasonable:
[code]

```bin``` directory isn't supposed to have subdirectories, because executables there are supposed to be run t

[2018-01-29 09:48] robertodr commented on #116
Apologies for breaking packages. This change came about with #110 and addressed this issue #40, but it seems we botched it. We'll have another look, but I am afraid this is low priority for the moment.

[2018-01-31 09:42] robertodr commented on #90
Coming back to this issue, can you do a fresh build and run `otool -L bin/run_pcm`?

[2018-02-01 14:25] ilfreddy commented on #90
I have merged the RPATH issue. I will recompile and run `otool` asap

[2018-02-01 14:34] ilfreddy commented on #90
Besides the version number, it sems to work:
`bin/run_pcm:
	/Users/luca/programs/pcmsolver_upstream/build/lib/libpcm.1.dylib (compatibility version 1.0.0, current version 0.0.0)
	/usr/lib/libc++.1.dylib (compatibility version 1.0.0, current version 120.1.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1226.10.1)`

[2018-02-01 14:41] robertodr commented on #90
And if you install the project? What does `otool` say for `<install_prefix>/bin/run_pcm`?

[2018-02-02 07:52] ilfreddy commented on #90
1) make install copies a lot of headers in /usr/lib
2) `otool -L bin/run_pcm` gives the same outcome after make install
3) should I use other options to otool?

[2018-02-02 08:49] robertodr commented on #90
You should have set a local prefix like `--prefix=$HOME/tmp/pcmsolver`. Can you post the output of `otool -L $HOME/tmp/pcmsolver`?

[2018-02-02 08:59] ilfreddy commented on #90
At which stage did I have to do that?

[2018-02-02 09:00] robertodr commented on #90
Configuration, but it doesn't matter. It's just that if you installed locally, you just need to wipe the installed directory afterwards to "uninstall". Now you have stuff on system path lying around that might cause trouble later, plus you needed to run `sudo`.

[2018-02-02 09:01] ilfreddy commented on #90
I did not run no sudo...

[2018-02-02 09:02] robertodr commented on #90
How could you write to `/usr/lib` without `sudo`? Mysteries of Mac...

[2018-02-02 09:05] ilfreddy commented on #90
seems I "own" local, lib and include under /usr/lib

[2018-02-02 12:46] bast commented on #90
I did not know that Mac allows that. Scary :-)

[2018-02-06 10:40] arnfinn commented on #100
Closed by #102

[2018-02-06 10:40] #100 closed

[2018-02-06 10:45] arnfinn commented on #84
I believe this one was closed by #102

[2018-02-06 10:45] #84 closed

[2018-02-06 11:30] arnfinn opened #120 "Update publication list"
## Expected Behavior
The latest and greatest pcmsolver articles and thesis should be listed in the documentation

## Current Behavior

The latest articles are not listed in the documentation.

## Possible Solution

Add articles to the list.

## Steps to Reproduce (for bugs)

1. Open [the documentation page](http://pcmsolver.readthedocs.io/en/stable/publications.html)
2. Look for all the articles t

[2018-02-07 09:06] #90 closed

[2018-02-27 12:10] robertodr opened #124 "Membrane profiles with diffuse Green's functions"
The upcoming PR #109 does the numerical integration in logarithmic scale. This requires a step size dependent on the width of the profile and the distance of it from the origin (center of the sphere). This requires some thinking to do it correctly, since a membrane has _two_ width parameters.

The following lines of code should be reintroduced in `SphericalDiffuse.hpp` to re-enable the use of memb

[2018-02-27 12:35] robertodr opened #125 "Rewrite add_Catch_test using cmake_parse_arguments"
https://cmake.org/cmake/help/v3.10/command/cmake_parse_arguments.html#command:cmake_parse_arguments

[2018-02-27 13:48] robertodr opened #126 "Document template paramteters in Green's functions"
Modify `doc/code-reference/greens-functions.rst` to document template parameters used in Green's functions.

[2018-02-27 14:53] arnfinn opened #127 "Add test for log profile"

[2018-02-27 21:45] #120 closed

[2018-02-28 09:00] robertodr commented on #59
TODO: Use `target_sources` to build the unit tests without resorting to `OBJECT` libraries.

[2018-02-28 09:26] robertodr commented on #112
Fixed in #121

[2018-02-28 09:26] #112 closed

[2018-02-28 09:26] robertodr commented on #111
Fixed in #121

[2018-02-28 09:26] #111 closed

[2018-02-28 09:27] robertodr commented on #116
@yurivict This was fixed in #121 We'll be minting a release candidate soon and update Psi4 accordingly.

[2018-02-28 09:27] #116 closed

[2018-03-05 16:59] robertodr opened #137 "OpenMP threading in Eigen and linking against BLAS/LAPACK"
Ideas linked to #136
1. Dense computations in Eigen can be threaded using OpenMP. This should be carefully explored: we want to avoid introducing race conditions in code that depends on the library.
2. Since version 3.3, Eigen can off-load certain dense computations to BLAS and LAPACK
http://eigen.tuxfamily.org/dox/TopicUsingBlasLapack.html
http://eigen.tuxfamily.org/dox/TopicUsingIntelMKL.html
Th

[2018-03-07 09:27] robertodr commented on #127
Closed by #134

[2018-03-07 09:27] robertodr commented on #125
Closed by #131

[2018-03-07 09:28] #125 closed

[2018-03-07 09:28] #127 closed

[2018-03-29 16:11] robertodr opened #139 "PCMSolver v2.Y.Z wishlist"
I am opening this meta-issue to discuss how the API for the next version should look and what additional features we want the library to have. I had opened a [project](https://github.com/PCMSolver/pcmsolver/projects/2), but the Kanban-style board is not very good for discussion. And we need a discussion before breaking this one up into issues and action items.

- Add new items in comments.
- **Alr

[2018-04-05 20:26] robertodr commented on #108
I am closing this as I think we're good with having the template configured by `conf.py`. The `Doxyfile.in` contains quite a lot of lines, so it'd be impractical to generate it from within `conf.py`.

[2018-04-05 20:26] #108 closed

[2018-04-10 14:56] robertodr opened #144 "Add examples of C, C++ and Fortran hosts linking PCMSolver"
We should show more explicitly how a host program can link against PCMSolver. We assume that the host uses CMake, but that's not always the case.
We have the `C_host` and `Fortran_host` test cases and it is easy to piece out what the link line for both should be, but adding an explicit example (possibly a separate repository) and more explicit documentation would certainly be helpful.
As much as I

[2018-04-10 22:04] robertodr opened #147 "Finish up CII Best Practices entry"
This project has metrics for open source software code quality: https://bestpractices.coreinfrastructure.org/en
I started filling up an entry for PCMSolver some time ago, it might be a good idea to finish it up.

[2018-04-11 13:39] arnfinn opened #148 "Move metarepo from gitlab to github"
This repo: https://gitlab.com/PCMSolver/pcmsolvermeta

Can, at the moment, only be done by @robertodr or @ilfreddy. @robertodr suggest using [Git LFS](https://git-lfs.github.com/).

[2018-04-11 13:47] robertodr commented on #148
You can create repos too now :+1:

[2018-04-12 14:01] arnfinn commented on #148
Did the following (for the record):
[code]

[2018-04-12 14:01] #148 closed

[2018-04-12 14:04] robertodr commented on #148
Thanks @arnfinn

[2018-04-12 14:05] arnfinn commented on #148
I only included the master branch. Hope that is ok.

[2018-04-17 13:39] arnfinn opened #154 "Restructure branches to reflect what we present in paper"
We will use [this branching model](http://www.bitsnbites.eu/a-stable-mainline-branching-model-for-git/
). Thus:
- all development happens on the `master` branch.
- for every minor release `X.Y`, a new branch is created named `release/X.Y`.
- the release branches will never be merged back into `master`.
- bug fixes will be cherry picked from `master` to `release/X.Y`.
- all tags are on release bran

[2018-04-17 13:41] arnfinn commented on #154
How can we keep the tags on the two release branches?

- The `release/1.2` branch has to be created from the tag `v1.2.0-rc1` commit
- Is all the `v1.1`-tags on the `release/1.Y` branch? Then I assume the tags will also be on the `release/1.1` branch after renaming?

[2018-04-17 15:25] robertodr commented on #154
I agree with this plan, though we might have to experiment a bit on some test repositories to iron out the sequence of commands to perform.
Some thoughts, a bit at random:
- The `git branch --move <new_name>` followed by a `git push -u -f` achieves renaming keeping the whole reflog. I think this is what we want.
- It might be easier if we just delete the superstale `master` altogether, before star

[2018-04-17 21:27] bast commented on #154
I need to read this tomorrow with a nice coffee and think about it for a moment - I will comment soon.

[2018-04-17 21:28] robertodr commented on #154
Yes, we'll definitely play around with forks :)

[2018-04-17 21:42] bast commented on #154
Answering some questions:

Git indeed does not care which way you cherry pick.

A tag points to a commit, very much like a branch - in contrast to a branch it does not move. A tag can point to a commit which is accessible from many branches. Then you can say that the tag is accessible (or "belongs to") many branches.

"All v1.1 tags should be on release/1.Y" - yes they are:
[code]

[2018-04-24 23:51] loriab opened #157 "tests not linking to zlib"
## Expected Behavior
Even when zlib is in a strange place (that cmake finds), tests should like to it.

## Current Behavior
[code]

## Possible Solution
If I add full path to zlib into the target's `link.txt`, it builds.

## Steps to Reproduce (for bugs)
I've seen this in 1.1.12 and 1.2.0-rc1.

Below is the build script. It looks ghastly, but I think it's just the non /usr/lib/libz.so that's the i

[2018-04-25 19:29] robertodr opened #159 "Green spherical diffuse test broken with Intel compilers"
The `green-spherical-diffuse` test is broken when building with the Intel compilers.

## Current Behavior
I've compiled on stallo for these tests using the following module/environment set ups.
For Intel 2017:
[code]
for Intel 2018:
[code]
I have tried Debug and Release modes, to no avail. In release mode, but only for Intel 2018, I have tweaked the optimization flags from `-O3` all the way down t

[2018-04-25 19:29] robertodr commented on #159
This could be related to the ODE integrator. See also #138

[2018-04-25 20:36] #59 closed

[2018-04-25 20:36] #157 closed

[2018-04-26 13:03] arnfinn commented on #154
Did the following on a fresh clone of `pcmsolverplayground/pcmsolver`:

[code]

[2018-04-26 13:27] bast commented on #154
Before pushing changes I recommend to mirror entire repo under different name to the same org, e.g. `PCMSolver/pcmsolver-backup`:
[code]

[2018-04-26 13:41] arnfinn commented on #154
Did as you wrote and got some warnings and errors. Still OK? Repository is here: https://github.com/PCMSolver/pcmsolver-backup
[code]

[2018-04-26 13:45] robertodr commented on #154
I think it wants to carry over PR information, @bast?

[2018-04-26 14:07] bast commented on #154
If we want to backup only branches and tags and all commits, then I think we are done. I browsed https://github.com/PCMSolver/pcmsolver-backup and it looks good.

[2018-04-26 14:09] bast commented on #154
I think it's normal that a GitHub rejects such refs. It would completely mess up the issue and PR numbering.

[2018-04-26 14:11] robertodr commented on #154
when we're Boost-free (soon, I hope) we should really remove those zip files from history.

[2018-04-26 14:14] bast commented on #154
Yes. It's a bit bloated now.

[2018-04-26 14:56] robertodr commented on #154
You're very diplomatic in your understatement :grinning:

[2018-04-26 20:15] arnfinn commented on #154
I renamed and deleted branches, as we agreed on. Had to update all the open pull requests, since they pointed to release/1.2.Z and that branch was deleted (all the pull requests were closed). Did we have 6 open PRs?

Does everything look OK?

[2018-04-26 20:32] robertodr commented on #154
On first look, it does. I think ReadTheDocs didn't get the memo, because I'm getting build failure emails. Can you look into that? Thanks!

[2018-04-26 20:32] arnfinn commented on #154
I also protected `release/1.1` and `release/1.2`, but not the way `master` is protected. Instead only admins can push to these branches (no PRs).

[2018-04-26 20:33] arnfinn commented on #154
I will look into readthedocs...

[2018-04-27 06:53] arnfinn commented on #154
I guess we are done?

[2018-04-27 06:53] #154 closed

[2018-04-27 21:15] arnfinn opened #163 "Failing readthedocs"
Failed with this commit: 809e4a9a

Reason:
Line 83 in `doc/conf.py` throws an error since `prere` is *NoneType*.

Error:
[code]
Dirty fix:
[code]

[2018-04-27 21:33] robertodr commented on #163
Yep. I am on it. I will also have to add "check that docs build" to the
release management documentation.

On Fri, Apr 27, 2018, 17:15 Arnfinn Hykkerud Steindal <
notifications@github.com> wrote:

[2018-04-28 07:26] arnfinn commented on #163
Do we run `sphinx-build . _build` with Travis to see if a PR/commit break readthedocs? If not, maybe we could add it. Maybe also run [htmlproofer](https://github.com/gjtorikian/html-proofer) afterwards.

[2018-05-01 15:32] loriab opened #165 "import dot has gone again in 1.2.0 release!"
I believe that the relative dot ` import .pyparsing` added in #164 should be in the v1.2.0 release [here](https://github.com/PCMSolver/pcmsolver/blob/release/1.2/tools/getkw.py#L22)

[2018-05-01 15:38] arnfinn commented on #165
It is here #164, not yet merged.

Cherry pick from master

[2018-05-01 15:42] loriab commented on #165
But the dot problem was discovered before the release tag. Why mint a tag with a known bug? I know how to get at the commit, was just trying to package pcmsolver from a tag, rather than from a commit or from a tag + patch.

[2018-05-01 19:37] arnfinn commented on #165
The release branch was made right before the patch came into `master`, so I believe we just forgot to cherry pick it before the release was minted. Not sure if @robertodr is active today, to make a new release?

[2018-05-01 19:43] loriab commented on #165
I think he's back in town tonight. Dropped him a note on psi4/psi4#988 for when he can do a new tag. Just working from my fork now and calling it 1.2.0rc2. Thanks for your help.

[2018-05-02 01:38] robertodr commented on #165
Apologies, was too hasty in preparing the tag to catch this one... I'll mint 1.2.1 ASAP

[2018-05-09 08:32] arnfinn commented on #163
Fixed here: e882df9275

[2018-05-09 08:32] #163 closed

[2018-05-09 08:33] arnfinn commented on #165
Fixed here: 3b76ff724

[2018-05-09 08:33] #165 closed

[2018-05-14 12:03] Sungwoo-Kang opened #167 "Solvation energy depend on cavity tessera area."
Hello. I greatly appreciate for such a helpful library!

I have figured out that the solvation energy discontinuously bumps as area variable changes.
I think it is natural that the solvation energy depends on the number of quadrature points by ~1 kcal/mol, but these bumping behavior seems unnatural, especially the solvation energy bumps about 100 Ha and then recovers as the number of finite elemen

[2018-05-20 19:14] Sungwoo-Kang commented on #167
Uh, are there anything for me to try? I appreciate for any comments and have no idea how to deal with this.

[2018-05-20 19:27] robertodr commented on #167
Ooops, sorry for the slow response! We haven't had time yet to look at this in detail, we will report as soon as we have a lead.

[2018-05-20 19:39] Sungwoo-Kang commented on #167
Thank you for kind reply! I feel sorry that I might have interrupted you.

[2018-10-25 11:35] hajgato commented on #159
Actually `green-spherical-diffuse` breaks with GCC 7.3.0 and using `avx` or newer instruction set. (tested on haswell cpu with `-march=native` and `-march=native -mno-avx` flags.

[2018-12-01 20:18] robertodr commented on #167
This went completely under by radar for a long time, quite embarassing.

I've had a look at I think it all stems from a bad cavity tesselation. These cases are very hard to predict in general and even harder to correct in any meaningful way once they occur. In PR #170 I've put in place some checks to detect problems and stop the calculation before it outputs utter nonsense. For your 4 different te

[2018-12-08 07:45] Sungwoo-Kang commented on #167
Thank you for your attention!
I have tested a latest commit with a few molecules, and found the program halts or gives good solvation free energy values. Most difficult case was diphenyl molecule, but it works well enough after the Gauss' theorem check threshold changed to relative one. Thanks!

[2018-12-08 07:45] #167 closed

[2018-12-08 13:55] robertodr commented on #167
Thanks for trying it out! It's not a solution, but at least gives the users a chance to understand what's going wrong. We'll mint a new minor release soon.

[2018-12-18 23:46] yurivict opened #171 "Build breaks: F90-F-0004-Unable to open MODULE file iso_c_binding.mod"
The FreeBSD port is failing with this message:
[code]

http://beefy6.nyi.freebsd.org/data/120amd64-default/487722/logs/pcmsolver-1.2.1_2.log

[2019-05-02 12:56] boegel commented on #159
@robertodr Any updates on this?

I'm seeing the same failing test when building with Intel compilers, or when building with GCC and using `-march=native` on recent Intel systems (Intel Haswell & Intel Skylake X); without using `-march=native` and using GCC 7.3 the tests are passing, but not when using Intel compilers...

[2019-05-07 12:51] robertodr commented on #159
I accidentally closed and reopened this issue and then forgot to post an actual reply. Apologies for that. There are no updates on this, the issue goes in a bit deeper than I had originally expected and the solution I tried caused other breakages.

[2019-05-22 12:18] boegel commented on #159
@robertodr Can you clarify if this is just an issue with the test itself, or does the test actually signal a problem with the installation that shouldn't be ignored?

I'm wondering if it's worth considering to simply ignore the broken test and install PCMSolver anyway...

Are you aware of a workaround when using the Intel compilers, e.g. by disabling a particular optimization that causes the issue

[2019-05-24 06:25] rahusona commented on #24
Hi @robertodr   arnfinn  - can you please help me how you resolved this issue?

[2019-10-18 11:42] josephatsalzburg opened #179 "average area of the cavity finite elements"
i always encounter this problem, Consider changing the average area of the cavity finite elements, when testing
the new PCM capabilities in a basic SCF on any molecules.
I tried to increase the  the average area for the cavity tesselation to no avail.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

*

[2019-12-12 10:11] rolfheil commented on #159
I could not compile this file using Intel 2019 on Saga and it's possibly related. The error I get is

[ 16%] Building CXX object src/CMakeFiles/pcm-objlib.dir/green/SphericalDiffuse.cpp.o
In file included from /cluster/software/Boost/1.71.0-iimpi-2019b/include/boost/math/special_functions/detail/igamma_inverse.hpp(16),
                 from /cluster/software/Boost/1.71.0-iimpi-2019b/include/boost/

[2020-08-10 20:27] Hopper1313 opened #181 "VASP implementation"
Is it possible to implement PCMSolver in VASP and other solid-state programs?

[2020-08-11 10:24] robertodr commented on #181
I don't have any experience on solvation models with periodic boundary conditions, so it's hard for me to evaluate what changes need to be done to the library itself to make it work.

[2020-08-18 14:46] akesandgren commented on #159
I've tested with intel 2019.5.281 with various args down to -O0 -g and it fails green_spherical_diffuse all the time.
This is with PCMSolver 1.2.3

[2020-08-18 15:00] robertodr commented on #159
Since this issue was opened, I haven't had time to look into what the exact
source of the problem is. It is unlikely I'll be able to debug any time
soon. If you're using PCMSolver in a quantum chemistry program, I suggest
you mark the spherically symmetric diffuse interface functionality as
broken to your users. FYI @ilfreddy

On Tue, Aug 18, 2020 at 4:47 PM Åke Sandgren <notifications@github.com>

[2020-09-08 17:34] loriab opened #182 "clear keywords between jobs"
## Expected Behavior
One should be able to launch pcmsolver twice independently. This would be useful, long-term, for psiapi mode.

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. try to run https://github.com/psi4/psi4/blob/master/tests/pytests/test_addons.py#L534 twice

## Context

@robertodr knows about this issue and has taken a stab at solving it. It'd b

[2020-10-30 13:06] rolfheil opened #183 ""is not" is no longer valid in python 3.8+"
"is not"  on line 473 in tools/pcmparser.py is no longer valid in python 3.8+

Error causes the program to crash.

"is not" should be replaced by "!="

[2020-11-27 08:14] #181 closed

[2020-11-28 15:20] #183 closed

[2020-11-30 07:17] loriab commented on #182
I forgot I opened this. Fixed by #184

[2020-11-30 07:17] #182 closed

[2020-12-18 00:10] breengles opened #192 "python-pip3 conflict with PCMSolver used by DIRAC"
#

Recently, I faced problem with compilation DIRAC program which uses PCMSolver as an external program on ubuntu20.04-like system with `ifort` (tried versions of 2019 and 2020 year) as fortran compiler.
I should notice that this problem is not the case for `gfortran`.
For clean system everything works well until I install pip3 via apt but if I use `conda` everything is fine. At this point, `gnuma

[2021-01-28 10:44] nielskm opened #194 "Buffer overload when requesting Allinger radii through the C interface"
When trying to use the Allinger atomic radii through the `PCMInput` struct, you overflow the buffer of size 8, since a null-termination character is also needed. I.e. the line:
`std::strcpy(input.radii_set, "allinger");`
results in a buffer overflow.

NB: This only occurs when compiling in Release mode.

## Possible Solution
Change the size of `PCMInput::radii_set` to 9.

## Steps to Reproduce (fo

[2021-01-28 13:34] #194 closed

[2022-02-03 21:44] sassy-crick commented on #159
As some time has passed I was wondering if there is an update of that?
I seemed to be able to build it with `march=native -mno-avx -mno-avx2` on an Intel Gold 5118 CPU but I cannot test it on other CPUs. If that works reliable, a quick-fix could be to compile only this part of the code with the flags mentioned above, and the rest of the code in a more traditional, optimised way.

[2022-04-08 14:43] sheepforce opened #197 "Compile failure with glibc >= 2.34 due to SIGSTKSZ in Catch"
PCMsolver cannot build with recent glibc version. The issue seems to be, that in [glibc >= 2.34 `SIGSTKSZ` is not constant anymore](https://github.com/bminor/glibc/blob/6cf19111222800a9e98f30392b6649c42b315829/NEWS#L12). This leads to type errors in the `Catch` code:

[code]

## Expected Behavior
PCMSolver should compile with recent Glibc versions.

## Current Behavior
Glibc >= 2.34 breaks PCMSolv

[2022-04-11 07:23] robertodr commented on #197
Thanks for reporting. This is indeed an annoyance. As you suggest, upgrading the bundled version of Catch would solve the issue. I'll try to patch it up during the week. I'm rewriting this library from scratch, so it's not exactly high priority, but since it broke a lot of packages, it must be fixed.

[2022-04-11 08:47] sheepforce commented on #197
A quick workaround I've just used to repair the broken nixpkgs branches is to replace `SIGSTKSZ` by `_SC_SIGSTKSZ`

[2022-05-21 04:20] yurivict opened #198 "Fails ungracefully when built from the tarball: AttributeError: 'NoneType' object has no attribute 'group'"
Build from the tarball fails with git executable present :
[code]

When git executable is missing - build succeeds.

Package builder isn't allowed to use git to download anything, so it should successfully build from the tarball w/ or w/out git present.

Python-3.8
FreeBSD 13

[2022-05-21 04:25] yurivict opened #199 "warning: '~Section' has a non-throwing exception specification but can still throw"
clang-12 complains:
[code]

Version: 1.3.0
FreeBSD 13

[2022-09-23 17:11] sassy-crick commented on #159
Further my last comment: I have installed version 1.3.0 on AMD EPYC 7742 64-Core Processor with both Intel 2021.4.0 and GCC-11.2.0 and that test is still failing.

In light of this is dragging on for nearly 4 years now, may I suggest to either fix this ongoing issue or remove the test?
I would prefer to get it fixed as that is the correct solution, assuming the test itself is ok. If the problem ar